/* PHASE 1: Header */
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: white;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-list {
  display: flex;
}
